.reset-password {
    background-color: #000000;
    margin: auto;
    border: 5px solid #8c4848;
    padding: 15px 15px;
    width: 30%;
    bottom: 100%;
    align-items: center;
    border-radius: 15px;
}
.reset-password a{
    color: white;
}
.reset-password p{
    color: white;
}

.reset-password input{
    padding: 10px;
    margin: auto;
    width: 90%;
}

.reset-password label{
    color: rgb(254, 254, 254);
}

.reset-password button{
    margin: auto;
    border-radius: 5px;
    padding: 10px 10px;
    width: 95%;
    justify-content: center;
    background-color: #8c4848;
    color: #fff;
    font-weight: 700;
}